.portfolio__main_container {
	width: 100vw;
	min-height: 100vh;
	height: auto;

	background-color: var(--main-blue);

	position: relative;
}

.portfolio__projects_container {
	width: 50%;
	min-height: 80vh;
	height: auto;

	padding: 50px;

	margin-inline: auto;
}

.portfolio__title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.portfolio__title h1 {
	font-size: 2.5rem;
	font-weight: 200;
	color: var(--text-purple);
}

.portfolio__projects_card {
	height: 50vh;
	aspect-ratio: 16 / 10;

	margin-inline: auto;
	margin-top: 50px;
	margin-bottom: 50px;

	border-radius: 15px;

	background-color: aqua;

	display: flex;

	box-shadow: 1px 1px 20px 1px #00000010;
}

.card__text_container {
	background-color: white;

	width: 50%;
	height: 100%;

	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;

	padding: 50px;

	box-shadow: inset 1px 1px 30px 1px #00000008;
}
.card__text_left_container {
	background-color: white;

	width: 50%;
	height: 100%;

	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;

	padding: 50px;

	box-shadow: inset 1px 1px 30px 1px #00000008;
}

.card__image_container {
	width: 50%;
	height: 100%;

	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;

	position: relative;
	box-shadow: inset 1px 1px 10px 1px #00000020;
}
.card__image_left_container {
	width: 50%;
	height: 100%;

	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;

	position: relative;
	box-shadow: inset 1px 1px 10px 1px #00000020;
}

.card__image {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.card__image_left {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.card__title {
	font-size: 2rem;
	font-weight: 400;
	color: var(--text-purple);
}
.card__body {
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 0.8rem;
	font-weight: 300;
	color: rgb(162, 170, 172);
}

.laas_button {
	width: 150px;
	aspect-ratio: 16 / 4;
	border-radius: 15px;

	display: flex;
	align-items: center;
	justify-content: center;

	box-shadow: 1px 1px 20px 1px rgb(144, 255, 144);

	background-color: rgb(144, 255, 144);

	font-size: 1rem;
	font-weight: 300;
	color: var(--text-purple);
}
