.portfolio__main_container {
	width: 100vw;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: var(--main-blue);
}

.portfolio__card_container {
	width: 95%;
	height: 90%;

	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	overflow: hidden;
}

.card {
	margin: 10px;
	height: 300px;
	width: 90%;
	background-color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

	display: flex;

	border: 1px solid #00000025;
}

.card:hover {
	box-shadow: 1px 1px 5px #00000025;
}

.portfolio__card_text {
	height: auto;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.portfolio__card_image {
	position: relative;
	display: flex;
	width: 100%;
}

.portfolio__card_links {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 30%;
	height: 20%;
	margin: 10px;
}

.portfolio__card_links * {
	height: 80%;
	width: 100%;
}

.project_info_btn {
	width: 100px;
	height: 40px;

	background-color: var(--main-orage);

	border-radius: 10px;

	display: flex;
	align-items: center;
	justify-content: center;
}
