.aboutme__main_container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	background-color: var(--main-blue);
}

.aboutme__text_container {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	font-family: var(--main-font-IBM);
	line-height: 2rem;
	font-weight: 400;
	font-size: 1.2rem;

	color: var(--text-purple);
}

.bold {
	text-align: center;
	color: var(--text-purple);
	font-weight: 700;
}

.h1 {
	text-align: center;
	color: var(--text-purple);
	font-weight: 200;
}
