.contact__main_container {
	height: var(--page-height);
	width: 100vw;

	display: flex;
}

.contact__form_container {
	height: 100%;
	width: 60%;

	background-color: var(--main-blue);

	display: flex;
	align-items: center;
	justify-content: center;
}

.contact__form {
	width: 100%;
	height: 100%;

	background-color: var(--light-purple);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contact__form h1 {
	font-weight: 400;
	color: var(--text-purple);
}

.contact__form > input {
	outline: none;
	border: none;
	padding: 10px;
	border-radius: 7px;
	color: var(--text-purple);
	background-color: #ffffff;
	height: 8%;
	width: 40%;
	margin-bottom: 13px;
}

.contact__form > textarea {
	outline: none;
	padding: 10px;
	border: none;
	border-radius: 7px;
	color: var(--text-purple);
	background-color: #ffffff;

	height: 20%;
	width: 40%;
	margin-bottom: 13px;
	resize: none;
}

.contact__form_button_container {
	width: 40%;
	height: 20%;
}

.contact__form_button_container button {
	background-color: white;
	border-radius: 10px;
	border: 1px solid var(--main-purple);
	height: 40%;
	width: 60%;

	font-size: 1.1rem;
	color: var(--text-purple);
}

.contact__art_container {
	width: 40%;
}
