.contact__main_container {
	height: 85vh;
	width: 100vw;

	z-index: 200;
	display: flex;

	overflow: -moz-hidden-unscrollable;
}

@media screen and (min-width: 1600px) {
	.contact__main_container {
		height: 85vh;
		max-height: 800px;
		width: 100vw;

		z-index: 200;
		display: flex;

		overflow: -moz-hidden-unscrollable;
	}
}

@media screen and (min-height: 1200px) {
	.contact__main_container {
		height: 85vh;
		max-height: 800px;
		width: 100vw;

		z-index: 200;
		display: flex;

		overflow: -moz-hidden-unscrollable;
	}
}

.contact__form_container {
	height: 100%;
	width: 100%;
	z-index: 200;

	background-color: var(--main-blue);

	display: flex;
	align-items: center;
	justify-content: center;
}

.contact__form {
	width: 100%;
	height: 100%;
	z-index: 200;

	background-color: var(--light-purple);

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact__form h1 {
	font-weight: 400;
	color: var(--text-purple);
	margin-left: 15%;
}

.contact__form > input {
	outline: none;
	border: none;
	padding: 10px;
	border-radius: 7px;
	color: var(--text-purple);
	background-color: #ffffff;
	height: 8%;
	width: 40%;
	margin-bottom: 13px;
	margin-left: 15%;
}

.contact__form > textarea {
	outline: none;
	padding: 10px;
	border: none;
	border-radius: 7px;
	color: var(--text-purple);
	background-color: #ffffff;

	height: 20%;
	width: 40%;
	margin-bottom: 13px;
	resize: none;

	margin-left: 15%;
}

.contact__form_button_container {
	width: 40%;
	height: 20%;
	margin-left: 15%;
}

.contact__form_button_container button {
	background-color: white;
	border-radius: 10px;
	border: 1px solid var(--main-purple);
	height: 40%;
	width: 60%;

	font-size: 1.1rem;
	color: var(--text-purple);
}
.contact__art_container {
	z-index: 200;
}

.contact__art_container svg {
	position: absolute;
	right: 9%;
	bottom: -3%;
	transform-origin: center;
	height: 65%;
	z-index: 200;
}
